@charset "utf-8";
/* CSS Document */


/*============================
404.html
============================*/

.red-line{
	border:#e30214 2px solid;
	padding:20px;
	width:96%;
	font-size:16px;
	background:#fff;
}

.text-article{
	padding:0 20px;
	width:96%;
	font-size:16px;
}

.text-article a{
	color: #1111cc;
}

.main{
	background:#FAFAFA;
}

.pb100{
	padding-bottom:100px;
}

.pt60{
	padding-top:60px;
}

@media screen and (max-width:640px){
/*============================
404.html
============================*/

.red-line{
	border:#e30214 2px solid;
	padding:3%;
	font-size:16px;
	width:93%;
	background:#fff;
}

.text-article{
	padding:3%;
	width:93%;
	font-size:16px;
}

.pb100{
	padding-bottom:100px;
}

.pt60{
	padding-top:60px;
}

}

/*============================
.sp_device
============================*/

.sp_device .red-line{
		border:#e30214 2px solid;
	padding:3%;
	font-size:16px;
	width:93%;
}

.sp_device .text-article{
	padding:3%;
	width:93%;
	font-size:16px;
}

.sp_device .pb100{
	padding-bottom:100px;
}

.sp_device .pt60{
	padding-top:60px;
}