@charset "utf-8";
/* CSS Document */

/*============================
#header-wrap
============================*/
#header-wrap{
	width:100%;
	border-bottom:#ddd solid 1px;
	z-index:100;
	position:relative;
}
#sp-header,
#sp-g-nav-area{
	display:none;
}
/*============================
#header
============================*/
#header{
}
#header .logo-area{
	margin:20px 0 0;
	width:471px;
	float:left;
}
#header .logo{
	float:left;
	margin-bottom:9px;
	margin-right:20px;
}
#header .logo-txt1{
	float:left;
	margin-top:13px;
	font-size:18px;
	font-weight:bold;
	letter-spacing:1px;
}
#header .logo-txt2{
	clear:left;
	font-size:12px;
	color:#666;
}

/*============================
#nav-area
============================*/
#nav-area{
	float:right;
	width:483px;
}
#nav-area .nav{
	margin-bottom:10px;
	font-size:13px;
}
#nav-area .nav li{
	float:left;
	width:111px;
	border-left:1px solid #eeeeee;
	text-align:center;
	padding:11px 5px 0;
}
#nav-area .nav li.last{
	border-right:1px solid #eeeeee;
}
#nav-area .nav li a{
	padding:9px 0;
	display:block;
}
#nav-area .nav li .ml5{
	margin-left:5px;
}
#nav-area .nav li a:hover{
	background:#e5e5e5;
	border-radius:3px;
	text-decoration:none;
}

/*============================
Googleカスタム検索
============================*/
#nav-area .search-box{
}
#nav-area .search-box .gsc-input-box{
	height:32px;
	width:365px;
}
#nav-area .search-box .cse .gsc-control-cse,#nav-area .search-box .gsc-control-cse,
#nav-area .search-box .cse .gsc-search-button input.gsc-search-button-v2,#nav-area .search-box input.gsc-search-button-v2,
#nav-area .search-box .gsc-search-box-tools .gsc-search-box .gsc-input{
	padding:0;
}
#nav-area .search-box .cse .gsc-control-cse,#nav-area .search-box .gsc-control-cse{
	border:none;
}
#nav-area .search-box td.gsc-search-button{
	position:relative;
}
#nav-area .search-box .gsc-search-button input{
	border:none;
	height:18px;
	margin-left:-28px;
	overflow:hidden;
	width:19px;
	padding:0;
}

#nav-area .search-box td.gsc-search-button:after{
	background:url(/common/img/search_img.gif) no-repeat;
    content: "";
    height: 20px;
    left: -28px;
    pointer-events: none;
    position: absolute;
    top: 7px;
    width: 20px;
    z-index: 10;
}

#nav-area .search-box .cse .gsc-search-button input.gsc-search-button-v2,#nav-area .search-box input.gsc-search-button-v2{
	margin-top:4px;
}
#nav-area .search-box .gsib_a{
	padding-top:5px;
}
#nav-area .search-box td.gsc-search-button{
	width:0;
}

/*============================
#g-nav-area
============================*/
#g-nav-area{
}
/*============================
#g-nav
============================*/
#g-nav{
	background:#202c31;
	font-size:15px;
}
#g-nav .frame{
	background:url(/common/img/gnav_br.gif) no-repeat left center;
}
#g-nav li a{
	color:#fff;
	float:left;
	background:url(/common/img/gnav_br.gif) no-repeat right center;
	cursor:pointer;
	text-decoration:none;
	display:block;
	padding:19px 0;
	width:163px;
	text-align:center;
}
#g-nav li a .small{
	font-size:14px;
}
#g-nav li a.active{
	color:#333;
	background:#eee;
}
#g-nav li.row2{
	padding:10px 0;
	line-height:1.1;
}
#g-nav li.home{
	width:50px;
	padding:0;
}
#g-nav li.link{
	padding:0;
}
#g-nav li.link a{
	padding:19px 0;
	display:block;
}
#g-nav .small{
	font-size:12px;	
}
#g-nav li a:hover{
	color:#333;
	background:#eee;
}
#g-nav .g-nav-menu:hover{
	background:url(/common/img/gnav_bg01.png) no-repeat center 50px #eee;
}
/*============================
#g-nav-box-area
============================*/
#g-nav-box-area{
	position:relative;
	z-index:1;
}
#g-nav-box-area .g-nav-box{
	display:none;
	position:absolute;
	top:0;
	width:162px;
}
#g-nav-box-area .g-nav-box a{
	text-decoration:none;
}
#g-nav-box-area .g-nav-box .g-nav-cont{
	z-index:1;
}
#g-nav-box-area .n-box-home{
	left:0;
}
#g-nav-box-area .n-box1{
	left:163px;
}
#g-nav-box-area .n-box2{
	left:325px;
}
#g-nav-box-area .n-box3{
	left:489px;
}
#g-nav-box-area .n-box4{
	left:652px;
}
#g-nav-box-area .n-box-event{
	left:815px;
}
#g-nav-box-area .g-nav-cont li{
}
#g-nav-box-area .g-nav-cont li a{
	padding:5px 0 5px 4px;
	display:block;
	background:#202c31;
	border:1px solid #222;
	border-top:none;
	text-decoration:none;
}
#g-nav-box-area .g-nav-cont li:first-child{
	border-top:1px solid #222;
}
#g-nav-box-area .g-nav-cont li a:hover{
	background:#333;
}
#g-nav-box-area .g-nav-cont li a.active{
	background:#333;
}
#g-nav-box-area .g-nav-cont li .icon{
	display:inline-block;
	vertical-align:top;
}
#g-nav-box-area .g-nav-cont li .txt{
	font-size:13px;
	color:#FFF;
	display:inline-block;
	padding-top:4px;
}
#g-nav-box-area .g-nav-cont li .txt .small{
	font-size:12px;
}

@media screen and (max-width: 640px){
#header-wrap #header,
#header-wrap #g-nav-area{
	display:none;
}
#header-wrap #sp-header,
#header-wrap #sp-g-nav-area{
	display:block;
}
#header-wrap #sp-header{
	position:relative;
}
#header-wrap #sp-header .menu{
	position:absolute;
	top:20px;
	left:20px;
}
#header-wrap #sp-header .menu .off{
	display:block;
}
#header-wrap #sp-header .menu .on{
	display:none;
}
#header-wrap #sp-header .menu.open .off{
	display:none;
}
#header-wrap #sp-header .menu.open .on{
	display:block;
}
#header-wrap #sp-header .menu img{
	width:34px;
}
#header-wrap #sp-header .logo{
	text-align:center;
	padding:20px 0;
}
#header-wrap #sp-header .logo img{
	width:83px;
}
#header-wrap #sp-header .info{
	position:absolute;
	top:5px;
	right:5px;
}
#header-wrap #sp-header .info img{
	width:58px;
}
/*============================
#sp-g-nav-area
============================*/
#sp-g-nav-area{
	box-sizing:border-box;
	font-size:15px;
	border-top:1px solid #222;
	background:#333;
	position:absolute;
	display:block;
	z-index:100;
	width:100%;
}
#sp-g-nav-area .bg{
	position:absolute;
	top:-8px;
	left:26px;
}
#sp-g-nav-area .bg img{
	width:14px;
}
#sp-g-nav-area .link1{
	border-bottom:1px solid #222;
	padding:15px 20px;
	display:block;
	color:#fff;
	background:url(/common/img/gnav_arrow1.png) no-repeat 93.75% center;
	background-size:8px;
}
#sp-g-nav-area .acr{
	color:#fff;
}
#sp-g-nav-area .acr a{
	color:#fff;
}
#sp-g-nav-area .acr{
}
#sp-g-nav-area .acr dt{
	border-bottom:1px solid #222;
	padding:15px 20px;
	background:url(/common/img/gnav_arrow2.png) no-repeat 94.84% center;
	background-size:15px;
}
#sp-g-nav-area .acr dt.open{
	background:url(/common/img/gnav_arrow3.png) no-repeat 94.84% center;
	background-size:15px;
}
#sp-g-nav-area .acr .g-nav-cont{
	border-bottom:1px solid #222;
}
#sp-g-nav-area .acr .g-nav-cont li{
	border-bottom:1px solid #666;
	margin:0 20px;
}
#sp-g-nav-area .acr .g-nav-cont li a{
	padding:8px 0;
	display:block;
}
#sp-g-nav-area .acr .g-nav-cont .arw1{
	background:url(/common/img/gnav_arrow1.png) no-repeat right center;
	background-size:8px;
}
#sp-g-nav-area .acr .g-nav-cont .arw1 a{
	padding:15px 0;
}
#sp-g-nav-area .acr .g-nav-cont li.last{
	border-bottom:none;
}
#sp-g-nav-area .acr .g-nav-cont li .txt{
	display:inline-block;
	vertical-align:middle;
}
#sp-g-nav-area .acr .g-nav-cont li .icon{
	display:inline-block;
	vertical-align:middle;
}

#sp-g-nav-area-bg{
    background:#f6f6f6 none repeat scroll 0 0;
    cursor: pointer;
    height: 2000px;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 10;
}
}

/*============================
.sp_device
============================*/

.sp_device #header-wrap #header,
.sp_device #header-wrap #g-nav-area{
	display:none;
}
.sp_device #header-wrap #sp_header,
.sp_device #header-wrap #sp-g-nav-area{
	display:block;
}
.sp_device #header-wrap #sp-header{
	position:relative;
}
.sp_device #header-wrap #sp-header .menu{
	position:absolute;
	top:20px;
	left:20px;
}
.sp_device #header-wrap #sp-header .menu .off{
	display:block;
}
.sp_device #header-wrap #sp-header .menu .on{
	display:none;
}
.sp_device #header-wrap #sp-header .menu.open .off{
	display:none;
}
.sp_device #header-wrap #sp-header .menu.open .on{
	display:block;
}
.sp_device #header-wrap #sp-header .menu img{
	width:34px;
}
.sp_device #header-wrap #sp-header .logo{
	text-align:center;
	padding:20px 0;
}
.sp_device #header-wrap #sp-header .logo img{
	width:83px;
}
.sp_device #header-wrap #sp-header .info{
	position:absolute;
	top:5px;
	right:5px;
}
.sp_device #header-wrap #sp-header .info img{
	width:58px;
}
/*============================
#sp-g-nav-area
============================*/
.sp_device #sp-g-nav-area{
	box-sizing:border-box;
	font-size:15px;
	border-top:1px solid #222;
	background:#333;
	position:absolute;
	display:block;
	z-index:100;
	width:100%;
}
.sp_device #sp-g-nav-area .bg{
	position:absolute;
	top:-8px;
	left:26px;
}
.sp_device #sp-g-nav-area .bg img{
	width:14px;
}
.sp_device #sp-g-nav-area .link1{
	border-bottom:1px solid #222;
	padding:15px 20px;
	display:block;
	color:#fff;
	background:url(/common/img/gnav_arrow1.png) no-repeat 93.75% center;
	background-size:8px;
}
.sp_device #sp-g-nav-area .acr{
	color:#fff;
}
.sp_device #sp-g-nav-area .acr a{
	color:#fff;
}
.sp_device #sp-g-nav-area .acr{
}
.sp_device #sp-g-nav-area .acr dt{
	border-bottom:1px solid #222;
	padding:15px 20px;
	background:url(/common/img/gnav_arrow2.png) no-repeat 94.84% center;
	background-size:15px;
}
.sp_device #sp-g-nav-area .acr dt.open{
	background:url(/common/img/gnav_arrow3.png) no-repeat 94.84% center;
	background-size:15px;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont{
	border-bottom:1px solid #222;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont li{
	border-bottom:1px solid #666;
	margin:0 20px;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont li a{
	padding:8px 0;
	display:block;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont .arw1{
	background:url(/common/img/gnav_arrow1.png) no-repeat right center;
	background-size:8px;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont .arw1 a{
	padding:15px 0;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont li.last{
	border-bottom:none;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont li .txt{
	display:inline-block;
	vertical-align:middle;
}
.sp_device #sp-g-nav-area .acr .g-nav-cont li .icon{
	display:inline-block;
	vertical-align:middle;
}

.sp_device #sp-g-nav-area-bg{
    background:#f6f6f6 none repeat scroll 0 0;
    cursor: pointer;
    height: 2000px;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 10;
}
